<div class="add-course">
	<h2>Add new course</h2>
	<label>Title</label><input type="text" name="title" value="" [(ngModel)]="newCourse.title"><br>

	<label>Dscription</label><textarea name="description" rows="8" cols="80" [(ngModel)]="newCourse.description"></textarea><br>
	<label>Date</label><input type="date" name="" value="" [(ngModel)]="newCourse.date"><br>
	<label>Duration </label><input type="number" name="" value="" [(ngModel)]="newCourse.time"><br>
	<button type="button" name="button" (click)="addCourse()">Save</button>
	<button type="button" name="button" (click)="cancelCourse()">Cancel</button>
</div>
