<nav class="main-navbar">
	<div class="container">
		<div class="logo">

			<div class="logo-title">Courses</div>
			<div class="logo-sub-title">You will make it in time</div>
		</div>
		<div class="menu">
			<div class="menu-item" [routerLink]="'courses'" routerLinkActive="'active'">Courses</div>
			<div class="menu-item" [routerLink]="['courses', 'new']" routerLinkActive="'active'">Add course</div>
			<div class="menu-item" [routerLink]="'login'" routerLinkActive="'active'">User login</div>
			<div class="menu-item" [routerLink]="'logout'" routerLinkActive="'active'">Logout</div>
		</div>
	</div>
</nav>

