<div class="media" [myBorder]="course.date" [ngClass]="{'yellow': course.topRated}">

  <div class="media-body">
    <h4 class="media-heading">{{course.title | uppercase}}</h4>
	<span>{{course.time | courseDuration}}</span>
	<span>{{course.date | date: 'dd/MM/yyyy'}}</span>
	<img *ngIf="course.topRated" src="./assets/icon/star.png" width="16" height="16"/>
	{{course.description}}

  </div>
  <div class="media-right">
	  <div class="btn-group" role="group" aria-label="...">
	  <button [routerLink]="['./', course.id]" type="button" class="btn btn-default" >Edit</button>
  	  <button type="button" class="btn btn-default" (click)="deleteCourse()">Delete</button>

  </div>
</div>
